{% extends 'shop/base.html' %}
{% block title %}
Contact Us
{% endblock title %}

{% block body %}

<style>
    input {
        padding: 10px;
        margin-bottom: 4px;
        width: 100%;

    }
    button {
        padding: 10px;
        margin-bottom: 4px;
        width: 100%;

    }

</style>

<div id="form">
    <h1 class="text-center ">Contact US</h1>

    <form method="post">
        {% csrf_token %}
        <div class="d-flex flex-column">

            <table class="ms-5 me-5">
            
                 {{ form.as_table }} 
                
        </div>
        
        </table>
        <div class="my-3 d-flex justify-content-center ms-5 me-5">
            <button class="" type="submit" name="submit" value="submit" >Submit</button>
        </div>
    </form>
</div>

{% endblock body %}

